{% extends "base.html" %}
{% block js %}
{% if error %}
<!--<script>-->
<!--    alert('{{ error }}');-->
<!--</script>-->
{{error}}
{% endif %}
{% endblock %}


{% block main %}
<!--{{user}}-->
<form method="post" action="">
    {% csrf_token %}
    <h1>Clubs</h1>
<!--    Author of book :-->
<!--    <input type="text" name="author_name"  required /><br>-->
    Upload Materials:
        <input type="file" name="url" id="files" required />

        <br>


    <input type="submit" value="publish">

</form>
<br>
{% endblock %}
